.nav-bar{
    background-color: #2a8f4c;
    height: auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    
    
}
.navigator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;

}
#botao {
    border: 1px solid rgb(255, 238, 0);
    transition-duration: 400ms;
}
#botao:hover{
    width: 130px;
    background-color: rgb(207, 25, 25);
    color: white;
    text-align: center;
    
}
.nav{
    width: auto;
    height: auto;
    background-color: rgb(216, 25, 25);
    color: white;
    border-radius: 4%;
    padding: 4% 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
 
}
ul li {
    display: inline-block;
}
.parte_de_baixo{
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}